/* App.css */

div {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #c534db;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: box-shadow 0.3s ease;
  position: relative;
}

button {
  background-color: #6cdb34;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 16px;
}

button:hover {
  background-color: #b92965;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #3463db;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  display: block;
}

input:focus {
  border-color: #b9296a;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

button[type="submit"] {
  background-color: #db3434;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
}

button[type="submit"]:hover {
  background-color: #43b929;
}

div.results {
  border: 1px solid #3498db;
  padding: 16px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

h3 {
  color: #333;
  border-bottom: 1px solid #ca34db;
  padding-bottom: 8px;
}

/* Additional Effects */
input::placeholder {
  color: #999;
}

button[type="submit"] {
  position: relative;
  overflow: hidden;
}

button[type="submit"]:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent 0%, #3498db 50%, transparent 100%);
  transition: left 0.3s ease;
}

button[type="submit"]:hover:before {
  left: 100%;
}
